# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
crashlytics-build.properties
# IDE
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.user
*.suo
# OS
.DS_Store
Thumbs.db
# Python
__pycache__/
BarbershopSimulator_Phase1.zip
